[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nest-microservices-course-onier/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/nest-microservices-course-onier/produtcs-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/nest-microservices-course-onier/orders-microservice.git
